.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    background-color: var(--second-background-color);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    min-width: 73px;

    transition-property: background-color, color, box-shadow;
    transition-duration: var(--t-duration);
    transition-timing-function: var(--t-transition);
    transition-delay: 0;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    background-color: var(--color-accent);
    color: var(--color-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}